@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
        --primary: 126, 62%, 45%
    }
}

.header-section {
    background-image: url('https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?cs=srgb&dl=pexels-pixabay-461198.jpg&fm=jpg');
    opacity: 0.8;
    background-size: cover;
}